@import 'tailwindcss';

@layer utilities{
  .flex-center{
    @apply flex justify-center items-center;
  }
}

@theme{
  --animate-fadin: ease-in-out 1s;
  @keyframes fadeIn {
      0%{
         opacity: 0;
      }
      100%{
         opacity: 1;
      }
      
   }
}